* {
    padding: 0;
    margin: 0;
    font-family: "Inder", sans-serif;
    
    font-style: normal;
}

body {
    border: none;
    background-color: black;
}

.navbar {
    width: 100%;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    flex-wrap: wrap;
    flex-direction: row;
}

.menu li {
    font-size: 1.1rem;
    list-style: none;
    color: black;
    padding: 10px;
    margin-right: 2px;
}

.menu .desktop {
    padding: 16px 20px;
}

.menu .active, .menu-sidebar .active {
    border-bottom: 2px solid whitesmoke;
    background-color: rgb(67, 67, 67);

}

a {
    text-decoration: none;
    color: whitesmoke;
}

.menu .title {
    color: red;
    font-weight: 700;
}

.menu .mobile {
    display: none;
}

@media(max-width:650px) {
    .menu .mobile {
        display: flex;
        position: fixed;
        right: 15px;
    }
    .menu .desktop {
        display: none;
    }
}

.menu-sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    color: whitesmoke;
    display: none;
    flex-direction: column;
    background-color: black;
    backdrop-filter: blur(10px);
}

.menu-sidebar li {
    list-style: none;
    padding: 10px;
}

.main-content, .searched-movie, .recommended-movies, .alert-box {
    padding: 20px 100px;
}

.main-content .title {
    margin: 3rem 0rem 0rem 0rem;
    color: red;
}

.input-search {
    display: flex;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    padding: 5px;
}

.submit-button {
    margin-top: 10px;
    cursor: pointer;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 1.2px solid red;
    background: transparent;
    color: red;
}

.submit-button:hover {
    color: whitesmoke;
    background: red;
    
}

/* .alert-box {
    color: black;
    background-color: rgb(220, 220, 109);
    width: max-content;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 1rem;
    display: none;
}

.alert-box i {
    margin-left: 5px;
} */

.searched {
    color: whitesmoke;
    margin-bottom: 20px;
}

.card-searched {
    color: whitesmoke;
    display: flex;
    align-items: flex-start;
}

.card-img-searched img {
    height: 285.58px;
    width: 190.39px;
}

.card-details-searched {
    padding: 0 20px 0 20px;
}

.card-details-searched h2 {
    padding-bottom: 10px;
}

.recommended-movies {
    color: whitesmoke;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 16rem;
    height: auto;
    border-radius: 1rem;
    margin: 0 2rem 2rem 0;
    overflow: hidden;
    background-color: transparent;
    padding-bottom: 5px;
}

.card-img img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content .content {
    padding: 5px 10px;
    color: white;
}

@media(max-width: 701px) {
    .card-searched {
        display: block;
    }
    .card-img-searched img {
        width: 250px;
        height: 350px;
    }
    .card-img-searched {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .cards {
        display: flex;
        justify-content: center;
    }
    .card {
        width: 16rem;
        height: auto;
    }
}

@media(max-width: 776px) {
    .cards {
        display: flex;
        justify-content: center;
    }
    .card {
        width: 20rem;
        height: auto;
    }
}

@media(max-width: 376px) {
    .card-content {
        font-size: small;
    }
    .card-details-searched {
        font-size: x-small;
    }
    .card-img-searched img {
        height: 285.58px;
        width: 190.39px;
    }
}