<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../static/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inder&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>
  <body>
    <div class="navbar">
      <ul class="menu">
        <li class="title"><b><h3>Movie Recommendation</h3></b></li>
        <li class="desktop active"><a href="/">Home</a></li>
        <li class="desktop inactive"><a href="/recommend">Recommend</a></li>
        <i class="fa-solid fa-bars-staggered mobile" onclick="showSidebar()" style="color: #fff;"></i>
      </ul>

      <ul class="menu-sidebar">
        <li><i class="fa-solid fa-xmark" onclick="hideSidebar()" style="color: #fff;"></i></li>
        <li class="desktop active"><a href="/">Home</a></li>
        <li class="desktop inactive"><a href="/recommend">Recommend</a></li>
      </ul>
    </div>

    <div class="main-content">
        <h1>Top 200 movies</h1>
        <div class="cards">
            {% for i in range(titles|length) %}
            <div class="card">
                <div class="card-img">
                    <img src="{{ poster[i] }}" alt="" srcset="">
                </div>
                <div class="card-content">
                    <h3 class="content">{{ titles[i] }}</h3>
                    <h4 class="content">Year of Release - {{ year[i] }}</h4>
                    <h4 class="content">Rating - {{ ratings[i] }}</h4>
                    <h4 class="content">Votes - {{ votes[i] }}</h4>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </div>
    <script src="../static/home.js"></script>
  </body>
</html>